*{
  margin: 0;
  padding: 0;
}

/* navbar design */

nav{
  width: 1600px;
  height: 72px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: #1a0b2e;
  margin: 0 auto;
}
nav > h1{
  align-items: center;
  justify-content: center;
  display: flex;
  height: 30px;
  font-size: 50px;
  color: white;
}
h1 > span{
  background:linear-gradient(rgba(247, 233, 63, 1),rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
  -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
nav > ul{
  display: flex;
  gap: 5rem;
  list-style: none;
  font-size: 1.20rem;
  color: white;
}
nav > button{
border: none;
border-radius: 30px;
font-size: 1.10rem;
padding: 16px 25px;
background: linear-gradient(rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
color: white;
}

/* Main Banner design  */

.banner-section{
  margin: 0 auto;
  width: 1600px;
  height: 760px;
  align-items: center;
  justify-content: center;
  background-image: url(./assets/hero-bg.png);
}
.banner-section .hero-bg{
  position: relative;
}
.banner-section .hero-bg .rounded-shape{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 15%);
}
.banner-section .hero-bg .mic{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 70%);
}
.banner-section .hero-bg .rounded-shape .mic .text{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 70%);
}
.banner-section .hero-bg .text{
  background-color: #00ff88;
  border: none;
  border-radius: 25px;
  padding: 12px 20px;
  font-size: 18px;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(85%, 125%);
}
.hero-bg-text-section h1{
    color: white;
    font-size: 3.70rem;
    font-weight: bold;
 }
 .hero-bg-text-section p{
    color: white;
    font-size: 1.69rem;
    text-align: left;
    margin-left: -30%;
    margin-top: 10px;
 }
 .hero-bg-text-section{
    margin: 0 auto;
    position: absolute;
    top: 58%;
    left: 45%;
    width: 850px;
    height: 100px;
 }
 .hero-section-btn{
    margin-top: 20px;
    gap: 20px;
    align-items: center;
    padding: 20px;
    position: absolute;
    left: -50px;
    
 }
 #hero-btn-1{
    background:var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    
    padding: 10px;
    border-radius: 20px;
 }
 #btn-listen{
   font-size: 1rem;
   border: none;
   background: transparent;
 }
 #hero-btn-2{
    border: 1px solid green;
    padding: 10px 20px;
    border-radius: 20px;
    background-color:transparent;
 }
 #hero-btn-2 button{
    background-color: transparent;
    border: none;
 }
 /* section 2 design */


.container-2{
    background-color: rgba(26, 11, 46, 1);
    width: 1600PX;
    height: 647PX;
    margin: 0 auto;
}
 .container-text-section{
    width: 1200px;
    height: 220px;
    margin: 0 auto;
    color: white;
 }
 .container-text-section h1{
    font-size: 48px;
    font-weight: 700;
    font-style: bold;
    text-align: center;
    color:  var(--#FFFFFF, rgba(255, 255, 255, 1));
    padding-top: 50px;
 }
 .line-1{
    font-size: 1.25rem;
    
    color:var(--#FFFFFF, rgba(255, 255, 255, 1));
    text-align: center;
    text-transform: capitalize;
    
    padding-top: 20px;
   
 }
 .line-2{
    font-size: 1.25rem;
    padding-top: 20px;
    color:var(--#FFFFFF, rgba(255, 255, 255, 1));
    text-align: center;
    text-transform: capitalize;
}
 .line-3{
    font-size: 1.25rem;
    
    color:var(--#FFFFFF, rgba(255, 255, 255, 1));
    text-align: center;
    text-transform: capitalize;
    padding-top: 20px;
 }
 .line-4{
    font-size: 1.25rem;
    color:var(--#FFFFFF, rgba(255, 255, 255, 1));
    text-align: center;
    text-transform: capitalize;
    padding-top: 50px;
 }
 .rating-section{
    width: 1200px;
    height: 95px;
    display: flex;
    flex-direction: row;
    gap: 200px;
    margin: 0 auto;
    color: white;
    margin-top: 18%;
    margin-left: 15%;
 }
 .item{
    color: #00FF88;
    margin-bottom: 18px;
    font-size: 3.40rem;
    font-weight: 800;
    font-style: bold;
 }
